<div class="container-fluid">
  <div class="container">
    <h1> Find the Jobs</h1>
    <div class="buttons">
      <div class="row">
        <div class="col">
          <button id="jobs__find__jobList" type="button" class="btn btn-primary" (click)="onJobsClicked('list')">
            Jobs</button>
        </div>
        <div class="col">
          <button id="job__find__fav" type="button" class="btn btn-secondary" (click)="onJobsClicked('fav')">
            Favorites</button>
        </div>
      </div>
    </div>
    <ng-container *ngIf="showJob || showFavs">
      <div class="job" *ngFor=" let model of filterJobs">
        <img [src]="model.companyLogo" alt="Company Logo" class="company-logo" />
        <div class="job-details">
          <h2 id="job-title" (click)="onTitleClicked(model.id)"> {{model.title}} </h2>
          <div class="company-name">Company: {{ model.companyName }}</div>
          <div class="reference">Reference: {{ model.reference }}</div>
          <div class="reference">Reference: {{ model.reference }}</div>
        </div>
        <div>
          <div *ngIf="showIcon">
            <fa-icon class="job-icon" [style.color]="model.isRated? '#BC9936' : '#C2C2C2'" [icon]=" fav "
              (click)="toggleRating(model.id)"></fa-icon>
            <RatingComponent></RatingComponent>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>