
<!--  
<div class="container">
    <img [src]="model.companyLogo" alt="Company Logo" class="company-logo" />
    <h2> {{model.title}} </h2>
    <h4>{{model.types}}</h4>
    <div>Company: {{ model.companyName }}</div>
    <div>Reference: {{ model.reference }}</div>
    <div> Publish date : {{model.publishDate}}</div>
    <div> Location : {{model.location}}</div>
    <div> Reference : {{model.reference}}</div>
    <section>
        <div> Job Description: {{model.description}}</div>
    </section>
    <section>
        <div> Job Responsibilities: {{model.responsibilities}}</div>
    </section>
</div> -->

      <button (click)="back()">Back</button> 
